@import '@fontsource/inter/400.css';
@import '@fontsource/inter/500.css';
@import '@fontsource/geist/400.css';
@import '@fontsource/geist/500.css';
@import '@fontsource/dancing-script/400.css';

@font-face {
  font-family: 'Inter:Medium';
  src: url('@fontsource/inter/files/inter-latin-500-normal.woff2') format('woff2');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Geist:Regular';
  src: url('@fontsource/geist/files/geist-latin-400-normal.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Geist:Medium';
  src: url('@fontsource/geist/files/geist-latin-500-normal.woff2') format('woff2');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Dancing_Script:Regular';
  src: url('@fontsource/dancing-script/files/dancing-script-latin-400-normal.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
}
